openapi: "3.0.0"
info:
  version: 0.1.2
  title: xOpera API
  license:
    name: Apache-2.0
paths:
  /deploy:
    post:
      summary: Deploy a CSAR
      operationId: deploy
      requestBody:
        description: Deployment inputs and service template name.
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentInput"
      responses:
        "202":
          description: The deployment was successfully initiated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invocation"
        "500":
          description: There was an error starting the deployment.
  /undeploy:
    post:
      summary: Undeploy a deployment
      operationId: undeploy
      responses:
        "202":
          description: The undeploy operation was successfully initiated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invocation"
        "500":
          description: There was an error starting the undeploy operation.
  /status:
    get:
      summary: Fetch the status of a deployment
      operationId: status
      responses:
        "200":
          description: Asynchronous operation status history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvocationHistory"
  /status/{invocationId}:
    parameters:
      - name: invocationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Fetch the status of a particular invocation.
      operationId: invocationStatus
      responses:
        "200":
          description: An invocation status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invocation"
        "404":
          description: No invocation with this id.
  /outputs:
    get:
      summary: Fetch deployment outputs
      operationId: outputs
      responses:
        "200":
          description: The outputs of the deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentOutput"
        "404":
          description: No outputs exist for this deployment.
  /validate:
    post:
      summary: Validate a CSAR
      operationId: validate
      requestBody:
        description: Validation inputs and service template name.
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentInput"
      responses:
        "200":
          description: The validation result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"
        "500":
          description: There was an error starting validate operation.
components:
  schemas:
    DeploymentInput:
      description: Inputs and service template name for deploy and validate commands.
      type: object
      required:
        - service_template
      properties:
        inputs:
          type: object
        service_template:
          type: string
    DeploymentOutput:
      description: Free-form mapping of outputs.
      type: object
    Invocation:
      description: An invocation of the deployment.
      type: object
      required:
        - id
        - state
        - timestamp
      properties:
        id:
          type: string
        state:
          $ref: "#/components/schemas/InvocationState"
        operation:
          type: OperationType
        timestamp:
          description: An ISO8601 timestamp of the invocation.
          type: string
        inputs:
          description: Inputs provided for invocation.
          type: object
        instance_state:
          description: State of the instances defined in service template.
          type: object
          additionalProperties:
            type: string
        exception:
          description: An internal xOpera error that occurred starting operation.
          type: string
        console_output:
          description: xOpera console output for operation.
          type: string
    InvocationHistory:
      description: Invocation history ordered by timestamp ascending.
      type: array
      items:
        $ref: "#/components/schemas/Invocation"
    ValidationResult:
      description: A CSAR validation result.
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
        message:
          type: string
    InvocationState:
      type: string
      enum:
        - pending
        - in_progress
        - success
        - failed
    OperationType:
      type: string
      enum:
        - deploy
        - undeploy
