# first commit with the new decoupled API
git+git://github.com/xlab-si/xopera-opera.git@d8aa1d09e6b352854ae24f9f54f57c01f65a7add#egg=opera

connexion >= 2.6.0; python_version>="3.6"
connexion >= 2.3.0; python_version=="3.5"
connexion >= 2.3.0; python_version=="3.4"
connexion == 2.4.0; python_version<="2.7"
python_dateutil >= 2.6.0
tornado==6.0.4

twine
wheel
setuptools
